<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactE:\SalsProject\SalsOfflineReports-Tac\SalsOfflineReports\App.configory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--// Test Config Connection-->
  <connectionStrings>
  <add name="PegasusEntities" connectionString="metadata=res://*/Data.PegasusEntitiesDataModel.csdl|res://*/Data.PegasusEntitiesDataModel.ssdl|res://*/Data.PegasusEntitiesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JNTKHEL;initial catalog=PegasusTac;persist security info=True;user id=sa;password=Marybeatriz100811;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PegasusEntities2" connectionString="data source=DESKTOP-JNTKHEL;Initial Catalog=PegasusTac;Persist Security Info=True;User ID=sa;Password=Marybeatriz100811;"
      providerName="System.Data.SqlClient" />

  </connectionStrings>

  <!--//Tacloban Server Connection--><!--
  <connectionStrings>
   <add name="PegasusEntities" connectionString="metadata=res://*/Data.PegasusEntitiesDataModel.csdl|res://*/Data.PegasusEntitiesDataModel.ssdl|res://*/Data.PegasusEntitiesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IJHAQSE;initial catalog=PegasusTac;persist security info=True;user id=sa;password=salstac_1126;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PegasusEntities2" connectionString="data source=DESKTOP-IJHAQSE;Initial Catalog=PegasusTac;Persist Security Info=True;User ID=sa;Password=salstac_1126;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--<connectionStrings>
    <add name="PegasusEntities" connectionString="metadata=res://*/Data.PegasusEntitiesDataModel.csdl|res://*/Data.PegasusEntitiesDataModel.ssdl|res://*/Data.PegasusEntitiesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4RBM8TA;initial catalog=PegasusTac;persist security info=True;user id=sa;password=Marybeatriz100811;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

</configuration>